*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: arial, sans-serif;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid black;
  z-index: 1;
  width: 1525px;
  height: 740px;}

ul {
  list-style: none;
  padding: 0;
  margin: 0
}
li {
  padding: 10px 0;
}

a {
  text-decoration: none;
  color: inherit;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.wrapper {
  width: 1525px;
  height: 740px;
  position: absolute;
  top: 5px;
  left: 5px;
}

#menu {
  position: absolute;
  width: 1525px;
  height: 740px;
  border: 1px solid black;
  z-index: 2;
  text-align: center;
  background-color: grey;
}
#menu.main {
  background-image: url('imgs/900628.gif');
}
#menu.credits {
  background-image: url('imgs/credits-bg.png');
}

#progress {
  height: 12%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
#percent {
  color: white;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
#progress-bar {
  width: 350px;
}

.sound {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 25px;
  cursor: pointer;
  z-index: 3;
}
.sound-on {
  background-image: url('imgs/soundOn.png');
  background-repeat: no-repeat;
}
.sound-off {
  background-image: url('imgs/soundOff.png');
  background-repeat: no-repeat;
}

#main {
  display: none;
  height: 60%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
#main h1 {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.button {
  display: block;
  width: 300px;
  margin: 0 auto;
  height: 55px;
  line-height: 55px;
  border: 1px solid #EFFBFB;
  color: white;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background-color: #00FFFF;
  background-image: -webkit-linear-gradient(bottom, #00FFFF 0%, #0040FF 100%);
  background-image:         linear-gradient(to bottom, #00FFFF 0%, #0040FF 100%);
  border-radius: 5px;
}

.button:hover {
  background-color: #0040FF;
  background-image: -webkit-linear-gradient(bottom, #0040FF 0%, #00FFFF 100%);
  background-image:         linear-gradient(to bottom, #0040FF 0%, #00FFFF 100%);
}

#credits {
  display: none;
  line-height: 30px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
#credits li {
  padding: 5px 0;
}

.artwork, .music, .developer {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.artwork {
  color: #fa8526;
}
.music {
  color: #e6e71f;
}
.developer {
  color: #13eb8a;
}

.back, .back:hover {
  margin-top: 10px;
}

#game-over {
  display: none;
  text-align: center;
  padding-top: 92px;
  z-index: 1;
  width: 1525px;
  height: 740px;
  position: absolute;
}