body{
	margin: 0;
    background: #81F7F3;

}

#fond{
	position: fixed;

	min-width: 60%;
	min-height: 60%;

	top: 50%;
	left: 50%;

	transform: translateX(-50%) translateY(-50%);

	z-index: -1;
}



#titre{
    text-align: center;
    margin-top: 25%;
	font-family: 'Press Start 2P', cursive;
	font-size: 40px;
	background-color: 
	
}

#menu{
	font-family: 'Press Start 2P', cursive;
	text-align: center;
	font-size: 50%;
	text-decoration: none;
}
#menu h2 a:hover{
	color: red;
}
#menu h3 a:hover{
	color: rgb(255,200,155);
}

#startgame{
	color: rgb(255,200,155);
}
#credit{
	color: red;
}

